.content {
    grid-area: cont;
  
    display: grid;
  
    grid-template-areas: 
    "profile"
    "input"
    "posts";/*разметка 3-х строк в content гриде по grid-area ниже*/
  
    grid-template-rows: 90px 90px 1fr;/*3 строки, 60пкс 20пкс и остальное*/
    grid-template-columns: 1fr;/*1 колонка*/
    /*grid-gap: 10px;*/
  }
  
.content .inputGrid {
  grid-area: input;
  background: white;
  margin-top: 1%;
  /* border: dashed black; */
  box-shadow: 1px 1px 2px rgb(194, 194, 194);
  border-radius: 10px;
}

.inputText {
    background: white;
    margin-left: 1%;
    border: 1px solid;
    display: block;
    height: 15px;
    margin-top: 1%;
    box-shadow: 1px 1px 2px rgb(194, 194, 194);
    width: 95%;
    padding: 1%;
}

.inputButton {
    background: white;
    margin-left: 1%;
    margin-top: 1%;
    font-family: Oswald;
    font-size: 10pt;
}