.header {
    grid-area: header;

    margin-top: 10px;
    background-color: white;
    border: 2px solid #a5a5a5;
    border-left: none;
    border-right: none;

    display: flex;
    align-items: center;
}

.name {
    margin-left:20%;
    font-weight: 800;
    font-size: 18pt;
}