/*ГЛОБАЛЬНЫЙ ГРИД*/
.app-wrapper {
  display: grid;

  grid-template-areas: 
  "header"
  "nav"
  "cont";/*разметка 3-х строк в глобальном гриде по grid-area ниже*/

  grid-template-rows: 60px 60px 1fr;/*3 строки, 60пкс 60пкс и остальное*/
  grid-template-columns: 1fr;/*1 колонка*/
  /*grid-gap: 10px;*/
}
